h1 Welcome to Harp
p You do have a plan for this thing, don't you?

.social-media-sharing
  a(href="#" target="_blank")
    i.fa.fa-facebook
  a(href="#" target="_blank")
    i.fa.fa-twitter
  |#hashtag
